<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new Car</title>
</head>

<body>
  <h1>Add a new auto</h1>
  <form th:action="@{/cars}" th:object="${car}" method="POST" autocomplete="off">
    <label>id</label>
    <input type="text" name="id" th:fieled="${car.id}" placeholder="id" />

    <label>model</label>
    <input type="text" name="model" th:fieled="${car.model}" placeholder="model" />

    <label>number</label>
    <input type="text" name="number" th:fieled="${car.number}" placeholder="number" />

    <input type="submit" value="Add car">
  </form>

</body>
</html>